#hero { background-image:
     url("./assets/img/bg_hero.png");
    background-size: cover;
padding-bottom: 40%;
font-family: sans-serif
;
height: 800px;}
#hero h2 {
    padding-bottom: 700px;}
body {
    font-family: "Roboto" sans-serif;
}
#Miexperiencia {
    
    font-weight: 700 ;
}

footer { background-color:teal;

}